/*body{
	width: 1250px;
	max-width: 100%;
}
* {
box-sizing: inherit;
}
*/
::selection{
	background-color: violet;
	color:white;
}
:active{
	color: blue;	
}
.all{
	/*width: 1000px;*/
	background-color: #ccc;
	height: auto;
}
.content{
	width: 100% !important;
}
.header{
	width: 100% !important;
/*	top:0;*/
	/*height: auto;*/
}
.header-topp{
	width: 100% !important;
	left: 0 !important;
	height: 36px !important;
	background-color:  #ff789e !important;
	display: flex !important;
	justify-content: space-between !important;
	/*align-items: center;*/
	/*position: fixed !important;
	top:0 !important;*/
	z-index: 99999;

}
.header-top-list{
	list-style: none;
    /*position: relative;*/
   /* bottom: 8px;*/
    /*display: flex;
    flex-wrap: wrap;*/
	/*padding-left: 0px;*/
	margin: auto;
	color      : white;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.header-top-list-item{
	display: inline-block;
	margin-right: 20px;
	color: white;
	box-sizing: border-box;

}
.dangnhap{
	text-decoration: none;
	color: white;
	margin-right: 3px;
}
#hoivien{
	padding: 10px 15px;
	background-color: #ff789e;
}
.slide{
	/*position: absolute;
	left: 0;
	width: 100%;
	height: 100px;
	margin-top: 10px;
	/*top:37px;*/
	/*width: 100%;
	z-index: 999;*/*/

	/*margin-top: -110px;*/
	/* background:   url("http://file.hstatic.net/1000185703/file/videobg.webm");
}*/}
.overlay{
	position: fixed;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
	display: none;
	animation: animation linear 0.1s;
}
.nav__moblie{
	position: fixed;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	max-width: 100%;
	width: 320px;
	background-color: white;
	opacity: 0;
	transform: translateX(-100%);
	transition: all linear 0.2s;
}
.nav__mobile_close{
	position: absolute;
	top:3%;
	left: 90%;
}
.nav__mobile-list{
	margin-top: 30%;
	list-style: none;
}
.nav__mobile-list-link{
	color: black;
	display: block;
	padding: 8px 0;
}
.navbar_btn{
	display: none;
}
.nav__input:checked ~ .overlay{
	display: block;
}
.nav__input:checked ~ .nav__moblie{
	transform: translateX(0%);
	opacity: 1;
}
 @media only screen and (max-width: 900px) {
            .header-topp{
	display: none !important;
}
.toasang{
	font-size: 20px !important;
	
}
.text h2 p{
	font-size: 10px !important;
}
.contentthree__one h1{
	font-size: 20px !important;
}
.contentthree__one p{
	font-size: 13px !important;
	text-align: center !important;
}
            }
@media(max-width: 1023px){
	.navbar_btn{
	display: block;
	position: relative;
	left: -50%;
}
.contenttwo{
	background-attachment: unset !important; 
}

.contenttwo-one h1{
	font-size: 25px !important;
}
.contenttwo-one h2{
	font-size: 24px !important;
}
.xemthem{
	line-height: 20px !important;
   width: 100px !important;
}
.xemthem2{
	line-height: 20px !important;
   width: 100px !important;
}
	.menu{
		display: none;
	}
}
@keyframes animation {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}

}
.navbar{
	width: 100% !important;
 	/*position: relative;*/
	/*left: 0;*/
	height: 100px !important;
	background: rgba(0, 0, 0, 0.5) !important;
	position: absolute !important;
	left: 0 !important;
	width: 100% !important;
	height: 100px !important;
	/*margin-top: 30px !important;*/
	/*top:37px;*/
	z-index: 999;
	/*display: inherit;*/
}

/*.inner{
	
	box-sizing: border-box;
}*/
.grid{
	/*width: 100%;
	left: 0;
	list-style: none;*/
 /*   justify-content: space-between;*/
   /* margin-left: -30px;*/
    /*display: flex;
    justify-content: space-between;*/
   /* box-sizing: border-box;*/

}

.navbar-menu{
	padding: 28px 112px !important;
	list-style: none !important;
	/*position: absolute;*/
	/*bottom: 28px;*/
	/*top:50%;*/
	text-decoration: none !important;
	color: white !important;
	display: flex !important;
	text-transform: uppercase !important;
	justify-content: space-around !important;
	flex-wrap: wrap !important;
	/*flex-wrap: wrap;*/

}
/*.navbar-menu li {
	position: relative;
	
	text-decoration: none;
	margin-right: 20px;
	color: white;
	text-transform: uppercase;
	display:inline-flex;

}*/
.menu a{
	text-decoration: none !important;
}
.menu{
	/*position: relative;*/
	/*bottom: 28px;*/
	padding: 20px 0 !important;
    margin-top: -16px;
	margin-right: 20px;
	color: white !important;
	font-size: 16px !important;
	text-transform: uppercase !important;
	font-family: 'Roboto Mono',  ;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue !important;

}

.btnlogin{
	position: relative;
	top:0;
	padding: 10px 15px;
	margin-right: 20px;
	background-color: #ff789e;
	text-transform: uppercase;
	color: white;
	border-style: none;
}
/*.grid-item-one{
	margin-top: 17px;
	padding-left: 73px;
	width: 14%;
}*/
.grid-item-two{
	/*display: flex;
	flex-wrap: wrap;*/
	/*width:100%;

	padding-top: 20px;
	margin-left: 20px;*/
}

.content{
	position: absolute;
	left: 0;
	width: 100%;
	height: auto;
   
}

.video{
	background: rgba(0, 0, 0, 0.5);
}
.test{
	width: 100%;
	/*height: 500px;*/
	position: relative;
	/*display: flex;*/
	/*top:-371px;*/
	/*z-index: -1;*/
}
.video{
	width: 100%;
	background: rgba(0,0,0,0.5);
}
.text{

	/*position: absolute;*/
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.text h2 p{
	/*position: relative;*/
	color: white;
	text-align: center;
    font-size: 15px;
   /*top:-42px;*/
   /*text-align: justify;*/


}

.text h1{
		/*position: relative;*/
		color: #ff789e;
		outline: 1px;
		text-align: center;
		/*top:-60px;*/
		font-size: 45px;
		margin-bottom: 20px;
		text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px yellow;
		font-weight: bold;
	
}
.cart{
	margin-left: 10px;
	position: relative;
	
	padding: 10px 15px;
	border: 1px solid #ff789e;
	bottom: 10px;
}
.cartt{
	display: block;
	padding: 10px 15px;
	border: 1px solid #ff789e;
}
.xemthem{
	/*position: absolute;
	left: 45%;
	height: 40px;
    
    padding: 0 30px;
    transition: all 0.3s ease;
    border: 1px solid #ff789e;
    margin-top: 15px;*/
    background-color: #ff789e;
    color: white;
    /*top :-30px;*/
  
    cursor: pointer;
 
   line-height: 40px;
   width: 150px;
}
.xemthemtwo{
	display: block;
	background: #666;
	display: flex;
	text-align: center;
	width: 108px;
	padding: 10px 20px;
	/*line-height: 35px;*/
	position: relative;
	bottom: 16px;
	left: 40%;
}

.contentone{
    position: relative;
	
    /*top:-890px;*/
	/*height: 456px;*/
	display: flex;
	flex-wrap: wrap;
	background-color: #fff;
}
.contentone__item{
	padding: 0 16px;
	flex: 1;
	margin-top: 21px;
	
}
.contentone__item  h2{
	color: red;
	text-align: center;
	margin-left: 30px;


}
.contentone__item p{
	
	
	margin-left: 50px;
	text-align: justify;

}
.two img{
/* padding-top:30px;*/
background-size: 100%;
}
.contentone__item  submit{
	color: red;
	text-align: center;

}
.contenttwo{
	margin-top: 10px;
	width: 100%;
	position: relative;
	/*top:-890px;*/
	bottom: 0;
	height: 300px;
	/*background:url("../img/massage2.jpg");*/
	background-image: url("http://theme.hstatic.net/1000185703/1000238955/14/image_home_advertisement.png?v=2347");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	display: flex;

}
.contenttwo-one{
	/*position: absolute;
	text-align: center;
	top:60px;
	left: 27%;
	color: red;*/
	margin: auto;
	text-align: center;
}
.contenttwo-one input{
	margin-top: 20px;
	text-align: center;

}

.xemthemcontentone{
	/*position: absolute;
	margin-right: 20px;
	background-color: #ff789e;
	text-transform: uppercase;
	color: white;
	border-style: none;
	left: 20%;
	top:80%;
	height: 40px;
    line-height: 40px;
    padding: 0 30px;*/
   margin: 0 46%;
   background-color: #ff789e;
    color: white;
    /*top :-30px;*/
    
    cursor: pointer;
   margin: 0 38%;
   line-height: 40px;
   width: 150px;
}
.contentthree{
	/*height: 520px;*/

background-image: url("http://theme.hstatic.net/1000185703/1000238955/14/image_home_professional.png?v=2347") !important;
}
.xemthem2{
	/*position: absolute;
	top:60%;
	left: 45%;
	height: 40px;
    line-height: 40px;
    padding: 0 30px;
    background-color: #ff789e;
	text-transform: uppercase;
	color: white;
	border-style: none;
	cursor: pointer;*/
	background-color: #ff789e;
    color: white;
    /*top :-30px;*/
  
    cursor: pointer;
 
   line-height: 40px;
   width: 150px;
}

.navbar-menu .sub-menu{
   display: none;
   position: absolute;
   top: 100%;
   /*left: 100%;*/
   width: 200px;
 
   background-color: #ff789e;
  /* padding: 5px 20px ;*/
 }
 .sub-menu .sub-menu{
   display: none;
   position: absolute;
   top: 50%;
   left: 100%;
   width: 200px;
   /* width: 200px;*/
  
 	background-color: #ff789e;
  /* padding: 5px 20px;*/
 }

.menucon{
	/*margin: 0 0;*/
}

.navbar-menu li:hover>.sub-menu{
	display: block;
  	border-bottom: 1px solid #ff789e;

}
.navbar-menu li a:hover{
	color: #ff789e;
}
/*.testmenu:hover .sub-menu{
	display: block;
}*/
.sub-menu li:hover{
	background-color: #FF0066;
}
.sub-menu{

	/*position: relative;*/
	list-style: none;
	padding-left: 0;
	/*top:30%;*/
	/*position: absolute;*/
}

.menucon a{
	text-decoration: none;
	color: white;
	font-weight: : 200;
	font-weight: bold;
	/*border-bottom: 2px solid white;*/
	padding-left: 15px;
	line-height: 55px;

}
 .menucon-one{
border-bottom: 1px solid;
  /* padding-bottom: 15px;*/
}
 .menucon-one a{

   
}
/*.sub-menu li:hover{
	background-color: #FF0088;
}*/
.dichvu:hover>.megamenu{
	display: block;
}

/*css menumega*/
.megamenu{
	position: absolute;
	display: none;
	width: 100%;
	height: 210px;
	background: rgba(0,0,0,0.9);
	float: left;
	/*padding: 0 6%;*/
	left: 0;
	top:100%;
	/*overflow: hidden;*/

}
.megamenucon{
	float: left;
	width: 22%;
	margin-left: 24px;
}
.megamenucon a.thea{
	display: block;
	margin: 15px 0;
	text-align: center;
	text-transform: uppercase;
	border: 1px dashed #fff;
	padding: 5px 0;
}
.theul{
	border: 1px solid #fff;
	padding-left: 0;
}
a{
	list-style: none;
	color: white;
	text-decoration: none;
}
.theul a:hover{
	color: #ff789e;

}
.megamenucon>a:hover{
	color: #ff789e;
	border: 1px dashed #ff789e;
}
.theul li{
	list-style: none;
	font-size: 13px;
	line-height: 18px;

}
.theul{
	padding: 5px 0;
}
.theul li a{
	font-size: 16px;
	text-transform: lowercase;
	line-height: 30px;
}
.namnngang{
	float: left;
	text-align: center;
	margin-left: 36px;
	list-style: none;
}
.testngamngang{
	padding: 0 25%;
	/*text-align: center;*/
	margin-top: 37px;
	font-size: 16px;
	/*font-weight: bold;*/
	/*margin-left: 20%;*/
}


.testngamngang li a:hover{
	color: #ff789e;
}
#home-botom_two {
	padding: 50px 0;
	background: #ffffff;
	display: block;
	height: 510px;
	max-width: 100%;
	/*padding-bottom: 50px;*/
}
*, input, :before, :after {
    box-sizing: border-box;
}
body {
    line-height: normal !important;
    font-weight: normal !important;
    position: relative;
    margin: 0;
}
body, input, textarea, button, select {
    font-size: 14px;
    line-height: 1.6;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #222222;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
@media screen and (min-width: 480px)
.wrapper {
    padding: 0 30px;
}
.wrapper {
    *zoom: 1;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}
.inner {
	width: 1120px;
	height: 468px;
}
.topone {
	width: 1120px;
	height: 132px;
}
div {
    display: block;
}
h3 {
	font-size: 30px;
	color: #FF789E;
	margin: 0;
	text-align: center;
}
 h2 {
	font-size: 24px;
	margin: -15px 0 15px;
	padding: 20px 0 	0;
	text-align: center;
}
.service-overview-desc {
	margin: auto;
    width: 66.6%;
	text-align: center;
}
div.tab {
    overflow: hidden;
}
tab.text-center {
    text-align: center !important;
	width: 1120px;
	height: 89px;
}
div.tab button {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #222222;
    margin: 30px 15px;
    border-bottom: 1px solid transparent;
	text-transform: uppercase !important;
}
div.tab button.active {
    color: #ff789e;
    border-bottom: 1px solid #ff789e;
}
.tabcontent{
	width: 1120px;
	height: 247px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
	border-top: none;
}
}.grid, .grid--rev, .grid--full, .grid-uniform {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -30px;
}
.item {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 30px;
    vertical-align: top;
    width: 100%;
	height: 245px;
}
img, iframe {
    
}
img {
    border: 0 none;
}
*, input, :before, :after {
    box-sizing: border-box;
}
.service-info {
	width: 545px;
	height: 245px;
}
.service-info h3 {
    color: #ff789e;
    margin: 0 0 15px;
	text-transform: uppercase !important;
}
.grid {
	width: 1120px;
	height: 245px;
	float: inherit;
}
.service-img {
	width: 48%;
	height: 245px;
	float: left;
	position: static;
}
.itemleft {
	width: 545px;
	height: 245px;
	float: left;
	position: static;
	}
.itemright {
	width: 545px;
	height: 245px;
	float: left;
	padding-left: 30px;
}
.hight {
	display: none;
	overflow: hidden;
}
.tablinks{
	background-color: white !important;
}
.contenttwo-one h1 {
	color: #ff789e;
	text-shadow: 2px 2px 5px blue;
}
.contenttwo-one h2 {
	color: #ff789e;
	text-shadow: 2px 2px 5px blue;
}
.contentthree{
	margin-top: 30px;
	width: 100%;
	/*height: 555px;*/
	background: url("//theme.hstatic.net/1000185703/1000238955/14/image_home_professional.png?v=2347");
	background-color: yellow;

	/*padding: 50px 0;
    background: url(//theme.hstatic.net/1000185703/1000238955/14/image_home_professional.png?v=2347);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}
.contentthree__one{
	text-align: center;
	margin: 0 20%;
	padding-top: 20px;

}
.contentthree__one p{
	color: white;
}
.contentthree__two_test{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 30px 13% 0 13%;
	width: 100%;
	overflow: hidden;

	/*flex-direction: column;*/
	/*flex-wrap: wrap;*/
}
@media(min-width: 700px){
	.contentthree__two_test{
		/*flex-direction: row;
*/	}
}
.contentthree__two__anh{
	list-style: none;

	/*float: left;*/
	/*flex-basis: 3%;*/
}
.contentthree__two__anh h2{
	color: white;
}
.contentthree__two{
	/*margin: 0 30%;*/
	/*text-align: center;*/
	/*padding: 40px 5% 0 5%;*/

}
.contentthree__two__anh img{
	border-radius: 100%;
	padding: 0;

	border: 5px solid #ff789e !important;
	/*text-align: center;*/
	}

.contentfour{
	width: 100%;
	/*height: 715px;*/
	background-color: white;
}
.contentfour__one{
	text-align: center;
	margin: 0 20%;
	padding-top: 20px;
}
.contentfour__two_test{
	/*margin: 0 30%;*/
	/*text-align: center;*/
	/*padding: 40px 5% 0 5%;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;

}
.contentfour__two{
	/*margin: 0 30%;*/
	/*text-align: center;*/
	/*padding: 40px 5% 0 5%;*/
	padding-top: 30px;

}

.contentfour__two__sanpham{
	list-style: none;
	/*float: left;*/
	
	overflow: hidden;
	position: relative;
	height: 390px;


}
.contentfour__two__sanpham:hover{
	/*background-color: red;*/
	/*overflow: visible;*/
	border: 2px solid #333;


}
.contentfour__two__sanpham:hover input{
	/*top*/

position:relative;
bottom: 0%;

	/*display: inline;*/
	opacity: 1;

}
.contentfour__two__sanpham img{
transition: transform .2s
}
.contentfour__two__sanpham:hover img{
-ms-transform: scale(1.08); /* IE 9 */
  -webkit-transform: scale(1.08); /* Safari 3-8 */
  transform: scale(1.08); 

}
.contentfour__two__sanpham img{
	
	/*position: absolute;*/
	/*padding: 0 10%;*/


}
.contentfour__two__sanpham input{
	/*position: absolute;*/
	/*display: none;*/
	opacity: 0;
	transition: 2s ease;

	/*margin: 70% 28px 0 28px;*/
	margin-top: 50%;


}


.contentfive{

	width: 100%;
	
	background-color: white;
}
.tieude{
			text-align: center;
			padding: 20px 20% 0 20%;

		}
		.allsp{
			position: relative;
			/*display: flex;*/
			/*justify-content: space-around;*/
			/*width: 1250px;*/
			overflow: hidden;

			display: flex;
			
			flex-wrap: wrap;
			/*margin: 0 20%;*/
			
			/*flex-wrap: nowrap;*/


		}
		.sanpham{
			margin-bottom: 30px;
			width: 100%;
			/*height: 600px;*/
			background-color: white;

			
		}
		.sanphamcon{
			min-width: 270px;
			margin: 0 20px;
			/*width: 550px !important;*/
			/*margin: 20px 45px 0 45px;*/
			padding: 0 30px;
			padding-top: 20px;
			border: 2px solid white;
			flex-wrap: wrap;
		}
		.sanphamcon img{
			transition: transform .2s;
		}
		.sanphamcon img:hover{
			-ms-transform: scale(1.2); /* IE 9 */
  			-webkit-transform: scale(1.2); /* Safari 3-8 */
  			transform: scale(1.2); 
		}
		.sanphamcon:hover{
		
	/*display: inline;*/
			border: 2px solid black;
		}
		.sanphamcon input{

			opacity: 0;
			transition: 1s ease;
			
		}
		.sanphamcon:hover input{
			position:relative;
			bottom: 10px;
			background-color: blue;
			color: white;
	/*display: inline;*/
	opacity: 1;
		}
		.buttonsp{
			position: relative;
			/*top:40px;*/
			display: flex;
			justify-content: space-around;
			margin-bottom: 20px;



		}
		.tensp h1{
			max-width: 100%;
			height: 80px;
			overflow: hidden;
			/*background-color: red;*/
			line-height: 27px;
		}
		.giasp{
			/*background-color: yellow;*/
			color: red;
		}
		.contentfive_tieude{
			text-align: center;
			padding: 20px 20% 0 20%;
		}
		.contentfive_noidung{
			margin-top: 30px;
			display: flex;
			justify-content: space-around;
			padding: 0 5%;
			
		}
		.contentfive_noidung_con{
			width: 350px;
			border: 1px solid #777;
			position: relative;
			background-color: white;
		}
		.contentfive_noidung_img{
			
			
		}
		.contentfive_noidung_con_name{
			position: absolute;
			top:0;
			padding: 20px 0% 0 41%;
			font-weight: bold;
			color: white;
			font-size: 20px;
			/*margin: 0 121px;*/

		}

		.contentfive_noidung_con_price{
			position: absolute;
			top:60px;
			font-weight: bold;
			color: red;
			font-size: 30px;
			margin: 0 121px;

		}
		.contentfive_noidung_con_content_ul li{
			list-style: none;
			border-bottom: 1px dashed black;
			line-height: 41px;
			position: relative;
			left: -20px;

		}
		.muangay{
			background-color: violet;
			color: white;
		}
		.buttonsp input{
			width: 150px;
			line-height: 30px;


		}
		.chitiet{
			color: violet;
			border: 1px solid violet;
			background-color: white;
		}
		.chitiet:hover{
			background-color: #ff4579;
		}
		.contentsix{
			width: 100%;
			height: 366px;
			background: url("http://theme.hstatic.net/1000185703/1000238955/14/image_home_testimonials.png?v=2347");
			margin-top: 40px;

		}
		.contentsix_noidung{
			display: flex;
			justify-content: space-around;
		}
		
		.contentsix_tieude{
			text-align: center;
			padding: 20px 20% 0 20%;
  		}
  		.contentsix_noidung{
  			padding: 0 5%;	

  		}
  		.contentsix_noidung_img_tieusu h1{
  			color: white;
  			font-size: 15px;
			max-width: 60%;
  		}
  		.contentsix_noidung_img_tieusu p{
  			color: white;
  			font-size: 17px;
  		}
  		.contentsix_noidung_img_img{
  			margin-right: 20px;
  		}
  		.contentsix_noidung_img_img img{
  			border-radius: 100%;
			padding: 0;
			border: 5px solid #ff789e !important;
			
  		}

  		.contentsix_noidung_img{
  			display: flex;
  			background-color: 
  		}
  		.contentsevent{
  			width: 100%;
  			height: 510px;
  			background-color: white;
  			display: flex;
  			justify-content: space-around;
  			padding: 0 4%;
  			
  		}
  		.contentsevent_left{
  			/*background-color: #333;*/
  			width: 544px;
  			height: 100%;

  		}
  		.contentsevent_left_content a{
  			color: violet;
  			font-size: 18px;
  			font-weight: bold;

  		}
  		.contentsevent_left_content{
  			margin-top: 17px;
  		}
  		.flexx{
  			display: flex;
  		}
  		.flexxx{
  			margin-right: 20px;
  		}
  		.contentsevent_right{
  			/*background-color: yellow;*/
  			width: 544px;
  			height: 100%;
  		}
  		.contentsevent_left_title h1{
  			text-align: center;
  		}
  		.contentsevent_right_title h1{
			text-align: center;
  		}
  		.contentsevent_left_info{
  			margin-top: 20px;
  		}
  		.contentsevent_right_img img{
  			transition: transform .2s;
  		}
  		.contentsevent_right_img img:hover{
  			-ms-transform: scale(1.2); /* IE 9 */
  			-webkit-transform: scale(1.2); /* Safari 3-8 */
  			transform: scale(1.2); 
  		}
  		.contentsevent_left_img img{
  			transition: transform .2s;
  		}
  		.contentsevent_left_img img:hover{
  			-ms-transform: scale(1.2); /* IE 9 */
  			-webkit-transform: scale(1.2); /* Safari 3-8 */
  			transform: scale(1.2); 
  		}
  		/*.sevent{
  			margin: 0;
  		}*/
  		.contenteight{
  			background-color: #ff789e;
  			width: 100%;
  			height: 150px;
  			display: flex;
  			justify-content: space-around;
  		}
  		.donors{
  			padding: 20px 0;
  		}
  		.footer{
			background-color: yellow;
			width: 100%;
			/*height: 350px;*/
		}
		.top_footer{
			background: url(http://theme.hstatic.net/1000185703/1000238955/14/image_footer_bg.png?v=2347);
			width: 100%;
			/*height: 325px;*/
			display: flex;
			justify-content: space-around;
			flex-direction: column;
		}
		@media (min-width: 700px){
			.top_footer{
				flex-direction: row;
			}
		}

		.top_footer_content{
			width: 250px;
			height: 80%;
			/*background-color: #eee;*/
			margin-top: 20px;
		}
		.botom_footer{
			width: 100%;

			height: 35px;
			background-color: black;
			/*position: absolute;*/

			
		}
		.botom_footer h2{
			/*text-align: center;*/
			font-size: 12px;
			color: white;
			padding: 9px 0;
			margin:0;
			opacity: 0.8;
			color: #ccc;
			/*height: 35px;*/
		}
		.top_footer_content{
			display: block;
			/*padding: 10px 0;*/
		}
		.top_footer_content_h2 h2{
			font-size: 14px;
			color: white;
			text-align: justify;
		}
		.top_footer_content_h1 h1{
			color: white;
			font-size: 20px;
		}
		.top_footer_content_listapp_ul{
			display: flex;
			padding: 0;
		}
		.top_footer_content_listapp_ul li{
			margin-right: 10px;
			list-style: none;
		}

		.top_footer_content_listapp_ul li{
			color: white;
		}
		.top_footer_content_list_ul li{
			color: white;
			list-style: none;
			padding: 4px 0;
			
		}
		.top_footer_content_list_ul{
			padding: 0;
		}
		.top_footer_content_link{
			display: block;
			color: white;
			padding: 8px 0;
		}
		.top_footer_content_listapp_ul_li{
			padding-right: 20px;
			width: 35px;
			height: 35px;
		}
		.top_footer_content_listapp_ul_li span {
			width: 20px;
			height: 20px;
		}
		.top_footer_content_input{
			display: flex;
		}
		.top_footer_content_input input{
			width: 256px;
			height: 40px;
		}
		.top_footer_content_input button{
			background-color: #ff789e;
			border: none;
			width: 80px;
		}
		/**********************Main Dich-vu*****************************/


.dichvu2{
	margin-top: 40px;
	margin-bottom: 2rem;
}
.maindichvu{
	text-align: center;
}
.maindichvu-link{
	text-align: center;
	color: #ff789e;
	box-sizing: border-box;
}
.maindichvu-link button{
	font-size: 20px;
	padding: 8px 16px
	color: white;
	background-color: #ffffff;
	margin-right: 1rem;
	/*outline: #ccc solid 2px;*/
}
.maindichvu-link button:hover{
	font-size: 20px;
	color: #fc5584;
	border-bottom: 1px solid #fc5584;
}
.maindichvu-content{
	margin-top: 2rem;
}
.box-img{
	overflow: hidden;
}
.maindichvu-content-img{
}
.maindichvu-content-img:hover{
	transform: scale(1.2);
	transition: 1.3s;
}
.box-content{
	text-align: center;
	color: white;
}
.box-content h2{
	font-size: 16px;
	color: #ff789e;
	font-weight: bold;
}
.box-content p{
	font-size: 16px;
	color: black;
	text-align: left;
	line-height: 20px;
	/*letter-spacing: 0.8px;*/
	
}
.box-content a{
	background-color: #ff789e;
	padding: 8px 16px;
	text-decoration: none;
	color: white !important;
}
.box-content a:hover{
	background-color: #fc5584;
	text-decoration: none;
}
/**********************Main Dich-vu*****************************/

.scroll{
	position: fixed;
	bottom: 20px;
	right: 20px;
	border: 1px solid #ff789e;
	width: 50px;
	height: 50px;
	/*align-items: center;
	justify-content: center;
	display: flex;*/
	/*position: relative;*/
	background-color: #ff789e;
}
.scroll a{
	position: absolute;
	top:65%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 50px;
	text-decoration: none;
}


